body {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: #555;
    margin: 30px auto 0;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 25px;
    }
}

h2 {
    color: #555;
    margin: 10px auto 0;
    text-align: center;
    font-size: 25px;
}

@media screen and (max-width: 750px) {
    h2 {
        font-size: 22px;
    }
}

h4 {
    color: #0054A8;
    text-align: left;
    margin-left: 7px;
}

.flex-element {
    color: #fff;
    background: firebrick;
    border-radius: 5px;
    text-align: center;
}

.overall {
    padding: 20px;
    margin: 0 20px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .overall {
        flex-direction: column;
    }
}

@media screen and (max-width: 360px) {
    .overall {
        padding: 0;
    }
}

.overall_element {
    width: 20%;
    min-width: 225px;
    background-color: #F8F8F8;
    margin: 5px;
    border: solid 1px brown;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .overall_element {
        margin: 5px auto;
    }
}

.css_attr {
    font-size: 14px;
    color: #8757BD;
    text-align: left;
    margin-left: 20px;
    display: none;
}

.css_attr span {
    color: #BB6B13;
}

#overall_element_2 {
    padding: 10px;
    width: 40%
}

@media screen and (max-width: 750px) {
    #overall_element_2 {
        max-width: 225px;
    }
}

.flex-container {
    color: #fff;
    min-height: 350px;
    margin: 0 auto;
    padding: 10px;
    background-color: #D1D1D1;
    border: solid 1px #838383;
    border-radius: 5px;
}

.flex-element {
    margin: 5px;
    padding: 5px 20px;
    font-size: 20px;
}

@media screen and (max-width: 970px) {
    .flex-element {
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 750px) {
    .flex-element {
        padding: 5px 10px;
        font-size: 10px;
    }
}

section {
    border: solid 1px brown;
    border-radius: 5px;
    padding: 10px;
    margin: 9px;
}

.section_container div {
    min-width: 225px;
    display: inline-block;
}

button {
    width: 220px;
    font-size: 12px;
    text-align: left;
    height: 35px;
    font-weight: 600;
}

@media screen and (max-width: 360px) {
    button {
        width: 180px;
        font-size: 10px;
        height: 40px;
    }
}

section h4 {
    text-align: center;
}

.use {
    text-align: center;
    font-size: 14px;
    color: cadetblue;
    font-style: italic;
    margin-top: 4%;
}
.description{
	margin: 4% 12% 4% 12%;
	text-align: left;
}
.row {
    padding-top: 2%;
    font-style: italic;
    font-size: 12px
}

.proba {
    text-align: center;
    margin: 50px;
    height: 150px;
}

footer>a>i {
    margin: 0px;
}

footer>p {
    font-style: italic;
    margin-top: 2%;
}